extends base

block body

  p.arab= nash.content

  table
    tbody
      tr
        td
          if nash.prev
            p: a(href='/kitab/' + nash.kitab_id + '/nash/' + nash.prev.conn)= nash.prev.page
        td
          p= nash.page
        td
          if nash.next
            p: a(href='/kitab/' + nash.kitab_id + '/nash/' + nash.next.conn)= nash.next.page
